// vars
$sidebar-width = 255px
$sidebar-width-collapsed = 73px
$sidebar-width-right = 55px
$header-height = 64px
$page-header-height = 48px
$tab-width = 253px

// colors
$text-color = #202124
$text-color-selected = #d93025
$sidebar-bg-selected = #fce8e6
$sidebar-bg-hover = #F1F3F4
$table-color = #f4f7f7
$border = 1px solid #eee
$accent-color = #2995FC
$icon-color = #5F6368
